.task-card {
  background: rgb(235, 233, 233);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1em;
  border-radius: 0.5em;
  margin:0.5em 0em;
}

.task-card:hover{
  background: rgb(126, 126, 126);
  cursor: pointer;
  color: white;
  transition: ease-in 0.1s;
}

.task-functions {
  display: flex;
  width: 10vw;
  justify-content: space-around;
}

.icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 912px) {
  .task-functions {
    width: 20vw;
  }
}
