.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form input {
  border: 1px solid rgb(219, 219, 219);
  outline: none;
  padding: 1em;
  width: 50vw;
  border-radius: 0.75em;
  font-family: "Work sans";
}

.form button {
  border-radius: 0.5em;
  border: none;
  outline: none;
  background: rgb(3, 202, 109);
  padding: 1em;
  margin: 0em 1em;
  color: white;
  font-family: "Work sans";
}

.form button:hover {
  cursor: pointer;
}

.form button:active {
  background-color: rgb(0, 168, 90);
}
