@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  background: rgb(219, 219, 219);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 49vw;
}

.task-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-input .title {
  margin: 1em auto;
  font-family: "Work sans";
  font-size: 2rem;
}

@media only screen and (max-width:912px){
  .container{
    width: 100vw;
  }  
}
